@inject HttpClient http
<div class="column is-2">
    <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            <li>
                @user
            </li>
            <NavLink href="/.auth/logout" ActiveClass="active-link">
                logout
            </NavLink>
            <NavLink href="/.auth/login/aad" ActiveClass="active-link">
                login
            </NavLink>
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active-link">
                Home
            </NavLink>
            <NavLink href="/products" ActiveClass="active-link">
                Products
            </NavLink>
            <NavLink href="/about" ActiveClass="active-link">
                About
            </NavLink>
        </ul>
    </nav>
</div>

@code
{
    private string user;
    protected override async Task OnInitializedAsync()
    {
        user = await http.GetStringAsync("/.auth/me");
    }

}